<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <a href="/"><img src="resources/logo.png" width="300"></a>
    <nav>
        <span>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="#">Page</a>
        <a href="#">About</a>
        <a href="#">Pages</a>
        <a class="log" href="#"><i class="fas fa-user-ninja" style="font-size: 32px;"></i></a>
        <a class="log" href="#"><i class="fas fa-shopping-cart" style="font-size: 32px;"></i></a>
        <a class="log" href="#"><i class="far fa-user" style="font-size: 32px;"></i></a>
        </span>
    </nav>
    </header>