<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="background-color: rgb(247, 247, 247);">
    <header>
        <a href="/hUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">
        <img src="resources/logo.png" class="mainlogo" width="250"></a>
        <nav>
          <span>
              <a href="/hUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">Admin Home</a>
              <a href="/adminshophUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">Admin Shop</a>
          <a class="log" href="/"><i class="fas fa-user-ninja" style="font-size: 32px;"></i></a>
          </span>
      </nav>
    </header>
    <section>
        <center>
            <div class="logincontainer">
                <form action="/add" id="EmployeeForm" class="form-horizontal" method="post" role="form">
                    <input class="inputlog" name="name" type="text" placeholder="name"></input><br>
                    <input class="inputlog" name="description" type="text" placeholder="description"></input><br>
                    <input class="inputlog" name="price" type="number" placeholder="price"></input><br>
                    <input class="inputlog" name="countInStock" type="number" placeholder="countInStock"></input><br>
                    <input class="inputlog" name="purchased" type="number" placeholder="Purchased (0)"></input><br>
                    <input class="inputlog" name="imageUrl" type="text" value="./resources/products/" placeholder="imageUrl"></input>
                    <br>
                    <select name="category">
                        <option value="brace">Brace</option>
                        <option value="necklace">Necklace</option>
                        <option value="earrings">Earrings</option>
                        <option value="ring">Ring</option>
                        <option value="clock">Clock</option>
                    </select><br>
                    <input class="inputlog" name="id" type="number" placeholder="id"></input><br>
                    <button class="logbtn" type="submit" name="submit">Add product</button>
                </form>
            </div>
            </center>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/adminjs.js"></script>
</body>
</html>


<!--

<header>Welcome Admin!</header>
<div class="container">
  <div class="row">
    <div id="signupbox" style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Product Details Form</div>
        </div>  
        <div class="panel-body">
          <form action="/admin/pages/add" id="EmployeeForm" class="form-horizontal" method="post" role="form">
            <div id="signupalert" style="display:none" class="alert alert-danger">
              <p>Error:</p>
              <span></span>
            </div>
            <div class="form-group">
              <label for="name" class="col-md-3 control-label">Name</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="name" placeholder="Enter product Name">
              </div>
            </div>
            <div class="form-group">
              <label for="description" class="col-md-3 control-label">Description</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="description" placeholder="Enter product description">
              </div>
            </div>
            <div class="form-group">
              <label for="price" class="col-md-3 control-label">Price</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="price" placeholder="Enter product price">
              </div>
            </div>
            <div class="form-group">
              <label for="countInStock" class="col-md-3 control-label">Count in stock</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="countInStock" placeholder="Enter count in stock">
              </div>
            </div>
            <div class="form-group">
              <label for="imageUrl" class="col-md-3 control-label">Image URL</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="imageUrl" placeholder="Enter Image URL">
              </div>
            </div>
            <div class="form-group">
                <label for="id" class="col-md-3 control-label">ID</label>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="id" placeholder="Enter product id">
                </div>
              </div>
            <div class="form-group">
              <label for="category" class="col-md-3 control-label">Category</label>
              <div class="col-md-9">
                <select class="form-control" name="category">
                  <option value="Brace">Brace</option>
                  <option value="Necklace">Necklace</option>
                  <option value="Clock">Clock</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <br>
                <input type="submit" name="submit" value="Add to database" class="btn btn-primary">     
              </div>
            </div>
          </form>





          <form action="/admin/pages/remove" id="RemoveProductForm" class="form-horizontal" method="post" role="form">
            <div class="form-group">
              <label for="productId" class="col-md-3 control-label">Product ID</label>
              <div class="col-md-9">
                <input type="text" class="form-control" name="id" placeholder="Enter product ID">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-3 col-md-9">
                <br>
                <input type="submit" name="submit" value="Remove from database" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div> 
  </div>
</div>



-->