<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body style="background-color: rgb(247, 247, 247);">
    <header>
        <a href="/hUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">
        <img src="resources/logo.png" class="mainlogo" width="250"></a>
        <nav>
            <span>
                <a href="/hUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">Admin Home</a>
                <a href="/adminshophUKEwi5irXX48T_AhXiVaQEHYaqDy8Q4dUDCAk&uact=5&oq=dsa&gs_lcp=Cgdnd3Mtd2l6EAMyBQgAEIAEMgsILhCvARDHARCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQguEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEOgsIABCABBCxAxCDAToRCC4QgAQQsQMQgwEQxwEQ0QM6CAgAEIAEELEDOgsIABCABBAKEAEQKjoLCC4QgAQQxwEQ0QNQAFhqYLsCaABwAHgAgAGfAYgBzAOSAQMwLjOYAQ">Admin Shop</a>
            <a class="log" href="/"><i class="fas fa-user-ninja" id="log"></i></a>
            </span>
        </nav>
    </header>
    <section>
        <center><div id="msg"><b>Admin Shop<br><br></b></div>
            <button type="submit" style="display: inline;" onclick="linktoadd()" class="buy">Add Product</button>
            <span id="suremsg" style="display: none;"><b>are u sure?</b>
                <button style="display: none;" type="submit" id="yes" style="display: inline;" onclick="linktoremove()" class="buy">Yes</button>
                <button style="display: none;" type="submit" id="no" style="display: inline;" onclick="no()" class="buy">No</button>
            </span>

            <button type="submit" id="linkremove" style="display: inline;" onclick="sure()" class="buy">Remove All Products</button>

            <form action="/remove" style="display: inline;" method="post" role="form">
            <button type="submit" style="display: inline;" class="buy">Remove Product</button>
            <input class="inputlog"style="display: inline; width: 80px;" name="id" type="number" placeholder="ID"></input><br>
            </form>
        </center>
            <div class="container">
                <span class="leftcont">
                    <input id="SearchTextBox" class="searchproduct" type="search" placeholder="Search Product">
                    <button class="searchbtn" type="button" onclick="searchProducts()">Search</button><br><br>
                        <i class="fa fa-calendar"></i> <u><b>Category:</b></u><br>
                        <a class="categoryleft" href="#">All Products</a><br>
                        <a class="categoryleft" href="#">Rings</a><br>
                        <a class="categoryleft" href="#">Clocks</a><br>
                        <a class="categoryleft" href="#">Necklaces</a><br>
                        <a class="categoryleft" href="#">Bracelets</a><br>
                        <a class="categoryleft" href="#">Earrings</a><br><hr>
                        <i class="fa fa-sort"></i> <u><b>Sort By:</b></u><br>
                        <a class="categoryleft" href="#">Price</a><br>
                        <a class="categoryleft" href="#">Category</a><br>
                        <a class="categoryleft" href="#">Name</a><br>
                        <hr>
                        <i class="fa fa-bolt"></i> <b><a class="categoryleft" href="#">Hots/New brands</a></b><br>
       
                </span>
        <div class="thot">
                <div id="productList"></div>
        </div>
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/adminjs.js"></script>
</body>
</html>