<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <a href="/"><img class="mainlogo" src="resources/logo.png" width="250"></a>
        <nav>
            <span>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a class="log" href="/login"><i class="far fa-user" id="log"></i></a>
            </span>
        </nav>
    </header>
    <section>
        <center><h1>Our Customers</h1>
        <div class="card"><h2><b>Moshe Avitan</b></h2>
            "I recently purchased a stunning diamond necklace, and I couldn't be happier with the quality and beauty of the piece. The team at Royal provided exceptional customer service, guiding me through the selection process and ensuring a seamless purchasing experience. I highly recommend Royal to anyone seeking timeless and elegant jewelry."
            Review 2: David Miller
            "I was blown away by the collection at Royal. As someone who appreciates fine jewelry, I was delighted to find a store that offers a diverse range of styles and designs. The founders' expertise is truly impressive, and it reflects in the exceptional quality of the jewelry they offer. I purchased a pair of diamond earrings for my wife, and she absolutely adores them. The packaging and presentation were exquisite, adding an extra touch of luxury to the experience. Royal has become my top choice for special occasions and gifts.</div>
        <div class="card"><h2><b>Emily Bailey</h2></b>
            "I had the pleasure of discovering Royal, and it quickly became my favorite jewelry store. The founders' commitment to providing a personalized experience sets them apart. When I visited their website, I was greeted by a user-friendly interface that made browsing effortless. I contacted their customer support to inquire about a specific piece, and they were prompt, friendly, and knowledgeable. The ring I purchased exceeded my expectations, and I receive compliments on it regularly. I appreciate Royal's dedication to delivering exceptional jewelry and exceptional service.</div>
        <div class="card"><h2><b>David Miller</b></h2>
            "I was blown away by the collection at Royal. As someone who appreciates fine jewelry, I was delighted to find a store that offers a diverse range of styles and designs. The founders' expertise is truly impressive, and it reflects in the exceptional quality of the jewelry they offer. I purchased a pair of diamond earrings for my wife, and she absolutely adores them. The packaging and presentation were exquisite, adding an extra touch of luxury to the experience. Royal has become my top choice for special occasions and gifts.</div>
            <div class="card"><h2><b>Maya Cohen</b></h2>
            "Royal Jewelry Store is a captivating blend of Israeli and American styles. Their jewelry collection is truly remarkable, and the founders' passion shines through. A hidden gem worth exploring!"</div><br><br><br>
        </center>
    </section>
    <footer>
        <div class="footer">
            <span>
            <h3><b>Find us:</h3></b>
            <a href="https://www.facebook.com/profile.php?id=100093534376301&notif_id=1686829559217200&notif_t=profile_plus_admin_invite&ref=notif"> <i class="fab fa-facebook-f" style="margin-right: 5px;"> </i> Facebook</a>
            <span style="float: right; padding-right: 45%;"><b>Copyrights &copy all rights reserved</b></span><br>
            <a href="https://github.com/xHALFON/Royal_Project"><i class="fab fa-github" style="margin-right: 5px;"> </i>GitHub</a>
            </span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js.js"></script>
</body>
</html>