<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="./style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="homeheader">
        <a href="/"><img class ="mainlogo" src="resources/logo.png" width="250"></a>
        <nav>
            <span>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a class="log" href="/login"><i class="far fa-user" id="log"></i></a>
            </span>
        </nav>
    <div class="cont">
            <span style="font-size: 30px; font-weight: 600;">Welcome Royal</span>
           <p>Tiny and perfect ecommerce jewerly</p>
            Royal is a jewerly shop, 40% off on Buy Now<br><br>
            <span class="buynow">
            <a class="but" href="/shop">Buy Now</a> <a class="but" href="/locations">Our Locations</a>
            </span>
    </div>
    <center>
        <div class="popupcont" id="popupcont">
            <span class="exitcartbtn"><button style="background-color: transparent; border: none; cursor: pointer;"><img src="resources/close.png" onclick="closepopup()" width="30px"></button></span>
            <div class="popupcontext">
                <p style="text-align:left; margin: 0;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 50px; font-weight: 900;">WAIT!</p>
                <p style="font-weight: 900; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; text-align: left;">Check out now our new brands and you'll get<br> <span style="font-size: 17px;">FREE SHIPPING</span></p>
            <a href="/shop"><button class="popupbtn"><span style="font-size: 18px;">GO TO CART ></span></button></a>
            </div>
        </div>
    </center>
    </header>
    <section><br>
        <center>
        <center class="popular">Pupolar Items</center>
        <div class="thot"><br><br>
                    <th>
                        <div class="product" style="animation: fadeIn 1s;"><img src="/resources/Products/Aquamarine Diamond Ring.png">
                            <div class="insideproduct">
                                <h4><b>Aquamarine Diamond Ring</b></h4> 
                                <p>8389$</p> 
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product" style="animation: fadeIn 1.5s;"><img src="/resources/Products/Blue and Black Titanium Ring.png">
                            <div class="insideproduct">
                                <h4><b>Blue and Black Titanium Ring</b></h4> 
                                <p>55$</p> 
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product" style="animation: fadeIn 2s;"><img src="/resources/Products/Blue Silver Water Drop Earrings.png">
                            <div class="insideproduct">
                                <h4><b>Blue Silver Water Drop Earrings</b></h4> 
                                <p>29$</p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product" style="animation: fadeIn 2.5s;"><img src="/resources/Products/Gant Freeport gold black.png">
                            <div class="insideproduct">
                                <h4><b>Gant Freeport gold black</b></h4> 
                                <p>299$</p> 
                            </div>
                      </div>
                    </th>
                    <th>
                        <div class="product" style="animation: fadeIn 3s;"><img src="/resources/Products/Round Gemstone Gladiator 2.png">
                            <div class="insideproduct">
                                <h4><b>Round Gemstone Gladiator 2</b></h4> 
                                <p>12$</p>
                            </div>
                      </div>
                    </th>
                    <div class="displaymedia" style="float: right;"><img src="/resources/modelwoman2.jpg" style="height: 600px; margin-right: 50px;"></div>
                    <div class="product" style="animation: fadeIn 3s; padding-bottom: 0; width: 70%;">
                    <span style="float: left; padding: 15px;"><img src="/resources/modelman1.jpg" class="modelman1"></span>
                    <p>Royal Gift Card | <span style="color: gray;">125.00 $</span><hr></p>
                   
                        <input type="text" class="classicinp" placeholder="From"></input>
                        <input type="text" class="classicinp" placeholder="To(Email)"></input><br><br>
                        <textarea type="text" class="classicinp" style="resize: horizontal; max-width: 40%; min-width: 10%" placeholder="Message"></textarea><br>
                        <center>
                        <a href="/payment" style="text-decoration: none;"><button style="margin-top: 10px;" class="buy">Purchase</button></a>
                        </center>
                   
                    </div>
        </div>
        </center>
    </section>
    <footer>
        <div class="footer">
            <span>
            <h3><b>Find us:</h3></b>
            <a href="https://www.facebook.com/profile.php?id=100093534376301&notif_id=1686829559217200&notif_t=profile_plus_admin_invite&ref=notif"> <i class="fab fa-facebook-f" style="margin-right: 5px;"> </i> Facebook</a>
            <span style="float: right; padding-right: 45%;"><b>Copyrights &copy all rights reserved</b></span><br>
            <a href="https://github.com/xHALFON/Royal_Project"><i class="fab fa-github" style="margin-right: 5px;"> </i>GitHub</a>
            </span>
        </div>
    </footer>
    <script src="js.js"></script>
</body>
</html>