<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="./style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header class="homeheader">
        <a href="/"><img class ="mainlogo" src="resources/logo.png" width="250"></a>
        <nav>
            <span>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a class="log" href="#"><i class="fas fa-shopping-cart" style="font-size: 28px;"></i></a>
            <a class="log" href="/login"><i class="far fa-user" style="font-size: 28px;"></i></a>
            </span>
        </nav>
    <div class="cont">
            <span style="font-size: 30px; font-weight: 600;">Welcome Royal</span>
           <p>Tiny and perfect ecommerce jewerly</p>
            Royal is a jewerly shop, 40% off on everything!<br><br>
            <span class="buynow">
            <a class="but" href="/shop">Buy Now</a> <a class="but" href="/shop_brands">New Brands</a>
            </span>
    </div>
    </header>
    <section><br>
        <center>
        <center class="popular">Pupolar Items</center>
        <div class="thot"><br><br>
                    <th>
                        <div class="product"><img src="/resources/Products/clock.jpg">
                            <div class="insideproduct">
                                <h4><b>Gant Classic Ocean</b></h4> 
                                <p>2499$</p> 
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/ring.jpg">
                            <div class="insideproduct">
                                <h4><b>White Diamond Ring</b></h4> 
                                <p>16499$</p> 
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/earrings.jpg">
                            <div class="insideproduct">
                                <h4><b>Diamond Earrings</b></h4> 
                                <p>3000$</p>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/hand.jpg">
                            <div class="insideproduct">
                                <h4><b>Bracelet</b></h4> 
                                <p>650$</p> 
                            </div>
                      </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/neckles.jpg">
                            <div class="insideproduct">
                                <h4><b>Golden Heart Neckless</b></h4> 
                                <p>150$</p>
                            </div>
                      </div>
                    </th>
        </div>
        <br><br>
        </center>
    </section>
    <footer>
        <div class="footer">
            <span>
            <h3><b>Find us:</h3></b>
            <a href="https://www.facebook.com/profile.php?id=100093534376301&notif_id=1686829559217200&notif_t=profile_plus_admin_invite&ref=notif"> <i class="fab fa-facebook-f" style="margin-right: 5px;"> </i> Facebook</a>
            <span style="float: right; padding-right: 45%;"><b>Copyrights &copy all rights reserved</b></span><br>
            <a href="https://github.com/xHALFON/Royal_Project"><i class="fab fa-github" style="margin-right: 5px;"> </i>GitHub</a>
            </span>
        </div>
    </footer>
    <script src="public/js.js"></script>
</body>
</html>