<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
    <header>
        <a href="/"><img class="mainlogo" src="resources/logo.png" width="250"></a>
    <nav>
        <span>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="/about">About</a>
        <a href="/customers">Customers</a>
        <a href="/locations">Locations</a>
        <a class="log" href="/login"><i class="far fa-user" style="font-size: 28px;"></i></a>
        </span>
    </nav>
    </header>
    <section><center>
        <h2><b>Our Shops</b></h2>
        <div class="cardmap"><center><h2><b>Royal Tel Aviv:</b></h2>Sun - Wed: 6:00 - 18:00<br> Thur- Fri: 8:00 - 12:00<br><b>Phone:</b> 058-482-2249</center>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81659.9537514402!2d34.90055646816426!3d32.109674275681186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b949ba05a89%3A0x7a34bcee709bd536!2z16jXldeZ15DXnCDXqteb16nXmdeY15nXnSDXmdeU15zXldee15nXnSDXldep16LXldeg15kg15nXlden16jXlA!5e0!3m2!1siw!2sil!4v1686829066939!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p><hr>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d81659.9537514402!2d34.90055646816426!3d32.109674275681186!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b209690f963%3A0xdba8795f5585fc51!2sRoyal%20Diamonds!5e0!3m2!1siw!2sil!4v1686829097863!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            <center><h2><b>Royal Haifa:</b></h2>Sun - Wed: 9:00 - 19:00<br><b>Phone:</b> 053-441-8779</center>
            <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d107307.64087577767!2d35.1081425781924!3d32.809124999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151dba4dcc04f66b%3A0xe10d683ea1c2ffdb!2zUm95YWwgSmV3ZWxlcnkgLSDXqteb16nXmdeY15kg16jXldeZ15DXnA!5e0!3m2!1siw!2sil!4v1686829142978!5m2!1siw!2sil" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></p>
        </div>
    </center><br>
    </section>
    <footer>
        <div class="footer">
            <span>
            <h3><b>Find us:</h3></b>
            <a href="https://www.facebook.com/profile.php?id=100093534376301&notif_id=1686829559217200&notif_t=profile_plus_admin_invite&ref=notif"> <i class="fab fa-facebook-f" style="margin-right: 5px;"> </i> Facebook</a>
            <span style="float: right; padding-right: 45%;"><b>Copyrights &copy all rights reserved</b></span><br>
            <a href="https://github.com/xHALFON/Royal_Project"><i class="fab fa-github" style="margin-right: 5px;"> </i>GitHub</a>
            </span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js.js"></script>
</body>
</html>