<%- include('_layouts/header') %>
    <section>
        <center>
        <div class="thot">
            <div class="leftcont">

            </div><br><br>
                    <th>
                        <div class="product"><img src="/resources/Products/clock.jpg">
                            <div class="insideproduct">
                                <h4><b>Gant Classic Ocean</b></h4> 
                                <p>2499$</p> 
                                <center>
                                <button type="button" class="buy">Buy Now</button> 
                                </center>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/ring.jpg">
                            <div class="insideproduct">
                                <h4><b>White Diamond Ring</b></h4> 
                                <p>16499$</p> 
                                <center>
                                <button type="button" class="buy">Buy Now</button> 
                                </center>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/earrings.jpg">
                            <div class="insideproduct">
                                <h4><b>Diamond Earrings</b></h4> 
                                <p>3000$</p>
                                <center>
                                <button type="button" class="buy">Buy Now</button> 
                                </center>
                            </div>
                        </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/hand.jpg">
                            <div class="insideproduct">
                                <h4><b>Bracelet</b></h4> 
                                <p>650$</p> 
                                <center>
                                <button type="button" class="buy">Buy Now</button> 
                                </center>
                            </div>
                      </div>
                    </th>
                    <th>
                        <div class="product"><img src="/resources/Products/neckles.jpg">
                            <div class="insideproduct">
                                <h4><b>Golden Heart Neckless</b></h4> 
                                <p>150$</p>
                                <center>
                                <button type="button" class="buy">Buy Now</button> </center>
                            </div>
                      </div>
                    </th>
        </div>
        </center>
    </section>
    <script src="public/js.js"></script>
</body>
</html>