<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
</head>
<body>
    <header id="toblur1">
        <a href="/"><img class="mainlogo" src="resources/logo.png" width="250"></a>
        <nav>
            <span>
            <a href="/">Home</a>
            <a href="/shop">Shop</a>
            <a href="/about">About</a>
            <a href="/customers">Customers</a>
            <a href="/locations">Locations</a>
            <a class="log" onclick="cartdis()"><i class="fas fa-shopping-cart" id="log" style="cursor: pointer;"></i></a>
            <a class="log" href="/login"><i class="far fa-user" id="log"></i></a>
            </span>
        </nav>
    </header>
    <section>
        <center><p id="cartmsg" class="errorcartmsg"></p></center>
            <div class="container" id="toblur2">
                <span class="leftcont">
                        <input id="SearchTextBox" class="searchproduct" type="search" placeholder="Search Product">
                        <button class="searchbtn" type="button" onclick="searchProducts()">Search</button><br><br>
                        <i class="fa fa-calendar"></i> <u><b>Category:</b></u><br>
                        <button type="button" class="categoryleft" onclick="renderProducts()">All Products</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('ring')">Rings</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('clock')">Clocks</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('necklace')">Necklaces</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('brace')">Bracelets</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('earrings')">Earrings</button><br><hr>
                        <i class="fa fa-sort"></i> <u><b>Sort By:</b></u><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('price')">Price</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('category')">Category</button><br>
                        <button type="button" class="categoryleft" onclick="renderProducts('name')">Name</button><br>
                        <hr>
                        <i class="fa fa-bolt"></i> <b><button type="button" class="categoryleft" onclick="renderProducts('brands')">New Brands</button></b>
       
                </span>
        <div class="thot">
                <div id="productList"></div>
        </div>
    </div>
    <div id="cartcont" class="cartcont">
        <span class="exitcartbtn"><button style="background-color: transparent; border: none; cursor: pointer;"><img src="resources/close.png" onclick="cartdis()" width="30px"></button></span>
        <span id="cartitems" class="cartProductList">
            <table id="cartTable">
                <tr class="head">
                    <th>
                        Name
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Category
                    </th>
                    <th>
                        CountInStock
                    </th>
                    <th>
                        Product ID
                    </th>
                    <th>
                        View
                    </th>
                    <th style="border: none;">
                        Button
                    </th>
                </tr>
            </table>
            <center>
                <p id="price">0</p>
                <a href="/payment"><button type="button" class="buy" onclick="prebuy()" style="width: 300px; display:inline-block; text-align:center; margin:8px;">Buy All</button></center></a>
        </span>
    </div>
    </section>
    <footer style="margin-top: 200px;">
        <div class="footer" id="toblur3">
            <span>
            <h3><b>Find us:</h3></b>
            <a href="https://www.facebook.com/profile.php?id=100093534376301&notif_id=1686829559217200&notif_t=profile_plus_admin_invite&ref=notif"> <i class="fab fa-facebook-f" style="margin-right: 5px;"> </i> Facebook</a>
            <span style="float: right; padding-right: 45%;"><b>Copyrights &copy all rights reserved</b></span><br>
            <a href="https://github.com/xHALFON/Royal_Project"><i class="fab fa-github" style="margin-right: 5px;"> </i>GitHub</a>
            </span>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js.js"></script>
</body>
</html>