<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Royal</title>
    <link href="style.css" type='text/css' rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
   

    <header>
        <a href="/"><img src="resources/logo.png" width="300"></a>
    <nav>
        <span>
        <a href="/">Home</a>
        <a href="/shop">Shop</a>
        <a href="#">Page</a>
        <a href="#">About</a>
        <a href="#">Pages</a>
        <a class="log" href="#"><i class="fas fa-shopping-cart" style="font-size: 32px;"></i></a>
        <a class="log" href="/login"><i class="far fa-user" style="font-size: 32px;"></i></a>
        </span>
    </nav>
    </header>
    <section>
            <span class="leftcont">
                <form id="searchForm">
                    <input class="searchproduct" type="search" name="searchField" placeholder="Search Product">
                    <input class="searchbtn" type="submit" value="Search" onclick="show()"><br><br>
                </form>
                    <i class="fa fa-calendar"></i> <u><b>Category:</b></u><br>
                    <a class="categoryleft" href="/shop">All Products</a><br>
                    <a class="categoryleft" href="/shop_ring">Rings</a><br>
                    <a class="categoryleft" href="/shop_clock">Clocks</a><br>
                    <a class="categoryleft" href="/shop_necklace">Necklaces</a><br>
                    <a class="categoryleft" href="/shop_brace">Bracelets</a><br><hr>
                    <i class="fa fa-sort"></i> <u><b>Sort By:</b></u><br>
                    <a class="categoryleft" href="shop_SortByPrice">Price</a><br>
                    <a class="categoryleft" href="shop_SortByCategory">Category</a><br>
                    <a class="categoryleft" href="shop_SortByName">Name</a><br>
                    <hr>
                    <i class="fa fa-bolt"></i> <b><a class="categoryleft" href="/shop_brands">Hots/New brands</a></b><br>
   
            </span>
            <div class="container">
        <div class="thot">
                <div id="productList"></div>
         </div
    </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js.js"></script>
</body>
</html>