@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

/* ------------Header---------- */
.homeheader{
    background-image: url("../resources/sec2.jpg");
    height: 700px;
    background-size: cover;
}
nav{
    background-color:rgba(255, 228, 196,0.5);
    border: none;
    box-shadow: 3px px 3px 3px bisque;
    text-align: center;
    padding: 50px;
}
nav span{
    margin-top: 30px;
}
nav a{
    font-weight: 500;
    color:#161616;
    font-size: 20px;
    text-decoration: none;
    margin-left: 40px;
    margin-right: 40px;
}
img{
    margin-left: 60px;
    float: left;
}
nav a:hover{
    color: #818181;
}
.cont{
    color:#161616;
    padding-top: 5%;
    padding-left: 10%;
    font-size: 30px;
    height: 300px;
}
.buynow{
    display: block;
    margin-top: 40px;
    margin-left: 40px;
}
.but{
    font-size: 23px;
    color:#161616;
    text-decoration: none;
    margin-right: 20px;
    padding: 15px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 8px;
}
.but:hover{
    background-color: rgba(255, 228, 196,0.3);
    
}
header nav a.log{
    float: right;
}

/* ------------Section1---------- */
.thot{
    display: block;
}
/*Product Identify*/
.product {
    margin-top: 15px;
    background-color: white;
    margin-right: 15px;
    padding: 30px;
    text-align: center;
    box-shadow: 4px 4px 8px 4px rgba(0,0,0,0.2);
    transition: 0.3s;
    display: inline-block;
  }
  
.product:hover {
    box-shadow: 8px 8px 16px 8px rgba(0,0,0,0.2);
  }
  
.insideproduct {
    text-align: left;
    padding: 2px 16px;
}
.buy {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(0deg, rgba(20,167,62,1) 0%, rgba(102,247,113,1) 100%);
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  
}
.buy:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
.buy:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #044709 0 -3px 0 inset;
    transform: translateY(-2px);
    
}

.buy:active {
  box-shadow: 0 0.3em 1em -0.5em #14a73e98;
}

.popular{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
}